<div class="jumbotron">
	<h2>Editing pin</h2>
	<div class="panel-heading"
		<%= render 'form' %>

		<%= link_to 'Show', @pin, class: "btn btn-primary" %> 
		<%= link_to 'Back', pins_path, class: "btn btn-success" %>
</div>