<div class="jumbotron">
	<%= image_tag @pin.image.url(:medium) %>

	<p>
	  <strong>Description:</strong>
	  <%= @pin.description %>
	</p>
	<% if @pin.user == current_user %>
	<% end %>
	<%= link_to 'Back', pins_path %>
</div>