<div class="jumbotron" >
	<h1>Welcome to GenieTab</h1>
	<p>It is all about local.</p>
	<%= link_to "Sign up", "#", class: "btn btn-success" %>
	<%= link_to "Log in", "#", class: "btn btn-primary" %>

</div>
