<div class="jumbotron center" >
	<h2>Welcome to GenieTab</h2>
	<p>It is all about local.</p>
	<% if user_signed_in? %>
		#do something
	<% else %>
	<p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %>
	</p>
	<% end %>
</div>
