<div class="jumbotron center" >
	<h2>Welcome to GenieTab</h2>
	<p>It is all about local.</p>
	<%= link_to "Sign up", "#", class: "btn btn-success" %>
	<%= link_to "Log in", "#", class: "btn btn-primary" %>

</div>
