<div class="jumbotron center" >
	<p>Once registered with us, shop owner can create their web presence and create advertising... </p>
	<p>Most shoppers turn to the Internet every day to find locally products at discounts.  And if your shop is not configured to pop up on their search, you lose out the potential revenue from new customers.</p>
</div>