<div class="jumbotron center" >
	<p>Once registered with us, shop owner can create their web presence and create advertising... </p>
	<p>Most shoppers turn to the Internet every day to find locally products at discounts.  And if your shop is not configured to pop up on their search, you lose out the potential revenue from new customers.
At GenieTab, your customer does not have to search, he/she just needs to download our application so each time he/she is 1000ft near your business, an alert will notify the customer that the product he/she wants is on sales.  Also, once the customer has selected your business to receive notification, each time a sales is created, the customer will receive notification.
	</p>
	<p>Web presence - each shop is given a page where a logo or a picture of your business is posted and each product is followed with description.  The image of the product can be loaded via your smartphone camera.


</div>